*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins',sans-serif;
}
.container{
border: solid 1px  ;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 2rem;
padding: 10px;
position: absolute;
transition: 0.7s;
 transform: translateY(-100%); 
}

.containActive{
    transform: translateY(70%);
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form div input{
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
form button{
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(9, 192, 128);
    color: #fff;
}
button:active{
    transform: scale(1.02);
}
span{
    color: rgb(9, 192, 128) ;
}
.addInfo{
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 3rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.createBTN button{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(9, 192, 128);
    color: #fff;
}
.createBTN{
    padding: 4px;
    display: flex;
    justify-content: space-around;
}
.createBTN input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}
#remove{
    background-color: #222;
    width: 100%;
    border: none;
    font-size: 1.5rem;
    color: red;
    text-align: end;
    border-radius: 5px;
}
table{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 2rem;
    gap: 1rem;
}
table th{
    padding: 3px;
}
thead tr{
    border-bottom: solid;
    background-color: #222;
    display: flex;
    justify-content: space-between;
  
}
tbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
tbody tr{
    display: flex;
    background-color:   rgb(9, 192, 128);
    justify-content: space-between;
    padding: 5px;
    border-radius: 3px;
    font-weight: 700;
    
}
